*{
    font-weight: bold;
}
.container{
    width: 7.02rem;
    height: 100%;
    min-height: 1px ;
    margin: 0 auto;
}

#header{
    width: 100%;
    height: 1.78rem;
    background-image: linear-gradient(-90deg, #ec4cff 0%, #ffa8d5 100%);
}

.topBar{
    width:100%;
    display: flex;
    justify-content:space-between;
    /*background: #ffa100;*/
}

.topLeft{
    width: 0.52rem;
    height: 0.52rem;
    /*background: #16b0dc;*/
    margin: 0.1rem 0;
    text-align: left;
    line-height: 0.52rem;
}

.topBar i.back {
    font-size: 0.3rem;
    font-family: iconfont;
    color: #fff;
}

.content{
    width: 7.02rem;
    height: 11.16rem;
    margin: 0 auto;
}

.middle{
    width: 7.02rem;
    height: 2.6rem;
    margin-top: 0.2rem;
    /*background: #ff6700;*/
}

.middleTitle{
    width: 7.02rem;
    height: 0.6rem;
    /*background: #16b0dc;*/
    line-height: 0.6rem;
}

.one{
    width: 0.06rem;
    height: 0.06rem;
    background-color: #ff51cc;
    border-radius: 50%;
    float: left;
    margin-left: 0.1rem;
    margin-top: 0.25rem;

}

.middleTitle b{
    font-weight: bold;
    font-size: 0.24rem;
    color: rgba(0,0,0,0.6);
    float: left;
    margin-left: 0.2rem;
}

.middleTitle p{
    margin-left: 4.9rem;
    font-size: 0.28rem;
    color: #ffa8d5;
    font-weight: bold;
}

.style{
    width: 3.43rem;
    height: 1.48rem;
    background-color: #ffffff;
    box-shadow: 0 0.2rem 0.16rem 0 rgba(207, 207, 207, 0.55);
    float: left;
    /*margin-top: 0.28rem;*/
    padding-top: 0.36rem;
    margin-left: 0.16rem;
}

.style img{
    float: left;
    /*margin: 0 auto;*/
    border-radius: 50%;
    width: 0.64rem;
    height: 0.64rem;
    /*background: #ff8271;*/
    margin-left: 0.34rem;
    box-shadow: 0 0.03rem 0.15rem 0 rgba(90, 158, 247, 0.55);
}


.style b{
    margin-left: 0.15rem;
    font-size: 0.24rem;
    color: rgba(0,0,0,0.8);
}

.style p{
    font-size: 0.22rem;
    letter-spacing: 0.01rem;
    color:rgba(0,0,0,0.6);
}

/*.line {*/
    /*width: 7.02rem;*/
    /*height: 0.28rem;*/
    /*background-color: rgba(255,255,255,0.38);*/
    /*box-shadow: 0 -0.1rem 0.2rem 0 rgba(207, 207, 207, 0.55);*/
/*}*/

.bottom{
    width: 7.02rem;
    /*height: 6.5rem;*/
    /*background: #ff8271;*/
    text-align: center;
    margin-top: 0.6rem;
}

.bottom .one{
    width: 0.06rem;
    height: 0.06rem;
    background-color: #ff51cc;
    border-radius: 50%;
    float: left;
    margin-top: 0.25rem;
}

.bottom .two{
    width: 0.06rem;
    height: 0.06rem;
    background-color: #ff51cc;
    border-radius: 50%;
    margin-top: 0.25rem;
    float: right;

}

.bottom b{
    width: 1.17rem;
    height: 0.23rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: rgba(0,0,0,0.8);
}

.bottom p{
    width: 1.45rem;
    height: 0.15rem;
    font-size: 0.2rem;
    letter-spacing: 0.06rem;
    color: rgba(0,0,0,0.4);
    text-align: center;
    margin: 0.1rem auto;
}

.box {
    width: 3.42rem;
    height: 3.42rem;
    background-color: #ffffff;
    box-shadow: 0 0.03rem 0.2rem 0 rgba(211, 211, 211, 0.55);
    border-radius: 0.07rem;
    margin-top: 0.42rem;
    float: left;
}

.box .card , .position{
    width: 0.97rem;
    height: 0.97rem;
    background-image: linear-gradient(0deg, #ff5400 0%, #ff9000 100%);
    box-shadow: 0 0.03rem 0.15rem 0 rgba(255, 87, 0, 0.55);
    border-radius: 100%;
    margin: 0.7rem 1.22rem;
    margin-bottom: 0.1rem;
    text-align: center;
    line-height: 0.97rem;
}

.card i , .position i{
    font-size: 0.5rem;
    color: #fff;
    font-family: iconfont;

}

.box b{
    width: 1.25rem;
    height: 0.23rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color:rgba(0,0,0,0.8);
}

.box p{
    width: 3.42rem;
    height: 0.15rem;
    font-size:0.2rem;
    letter-spacing: 0.005rem;
    color:rgba(0,0,0,0.4);
}

.six {
    width: 0.69rem;
    height: 0.45rem;
    background-color: #50b674;
    border-radius: 0.23rem;
    margin: 0.2rem auto;
    text-align: center;
    line-height: 0.45rem;
    font-size: 0.36rem;
    color: #ffffff;
}





