#all{
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
}

.container{
    width: 7.02rem;
    height: 100%;
    min-height: 1px ;
    margin: 0 auto;
}

#header{
    width: 100%;
    height: 3.41rem;
    background-image:linear-gradient(-90deg, #ec4cff 0%, #ffa8d5 100%);
}

.topBar{
    width:100%;
    display: flex;
    justify-content:space-between;
    /*background: #ffa100;*/

}

.topLeft{
    width: 0.52rem;
    height: 0.52rem;
    /*background: #16b0dc;*/
    margin: 0.1rem 0;
    text-align: left;
    line-height: 0.52rem;
}

.topBar i.back {
    font-size: 0.3rem;
    font-family: iconfont;
    color: #fff;
}

.topRight{
    height: 0.52rem;
    /*background: #16b0dc;*/
    margin: 0.1rem 0;
}

.searchBox , .shareBox , .saveBox{
    height: 0.52rem;
    width: 0.52rem;
    background: #fff;
    border-radius: 50%;
    margin-left: 0.25rem;
    /*position: relative;*/
    float: left;
    text-align: center;
    line-height: 0.52rem;
}

.search , .save , .share{
    font-size: 0.3rem;
    font-family: iconfont;
    /*background: #16b0dc;*/
    color: #ec4cff;
}

.topContent{
    width: 7.02rem;
    height: 2.41rem;
    /*background: #098000;*/
    margin: 0.15rem auto;
}

.topContent img{
    width: 1.71rem;
    height: 1.71rem;
    float: left;
    margin-top: 0.25rem;
    border-radius: 0.18rem;
    background: #ff8271;
    border: 0.05rem solid #fff;
}

.topContent .font{
    width: 4.86rem;
    /*background: #dc1bb2;*/
    height: 2.04rem;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0.185rem 0;
}

.font .pingjia{
    font-size: 0.1rem;
    font-family: iconfont;
    color: #fff;
    font-weight: bold;
}

.font h3{
    font-size: 0.3rem;
    color: #fff;
}

.font .peisong{
    font-size: 0.2rem;
    color: #fff;
}

.peisong .juli{
    display: inline-block;
    border: 0.05rem solid #ffffff;
    width: 0.95rem;
    height: 0.34rem;
    border-radius: 0.36rem;
    text-align: center;
}

.peisong .qisong{
    display: inline-block;
    background:#fffeff;
    width: 0.95rem;
    height: 0.34rem;
    color: #fa8de2;
    border-radius: 0.36rem;
    text-align: center;
    line-height: 0.34rem;
}

.font p i{
    font-size: 0.06rem;
    font-family: iconfont;
}

.dingcan{
    width:100%;
    height: 0.99rem;
    background: #20202a;
    margin: 0 auto;
}

.dingcan b{
    display: block;
    text-align: left;
    width: 7.02rem;
    height: 0.99rem;
    margin: 0 auto;
    line-height:  0.99rem;
    letter-spacing: 0.02rem;
    color: #fff;
    font-size: 0.2rem;
}

.dingcan b i{
    font-family: iconfont;
    font-size: 0.1rem;
}

.content{
    width: 100%;
    height: 9rem;
    /*background: #ff8271;*/
    padding: 0.43rem 0;
}

.content .title{
    width: 3.42rem;
    border: 0.02rem solid #9e9e9e;
    height: 0.7rem;
    border-radius: 0.36rem;
    margin: 0 auto;
    font-size: 0.2rem;
    text-align: center;
    padding: 0.06rem;
    font-weight: bold;
}

.title .titleLeft{
    width: 1.69rem;
    height: 0.52rem;
    background-color: #f882e6;
    border-radius: 0.36rem;
    float: left;
    text-align: center;
    line-height: 0.52rem;
    color: #fff;
}

.titleLeft i{
    font-size: 0.01rem;
    font-family: iconfont;
    color: #000;
}
.bottom{
    width: 100%;
    height: 7.73rem;
    display: flex;
    justify-content: space-between;
    margin: 0.33rem auto 1rem;
    position: relative;
}

.bottomLeft{
    width: 1.83rem;
    background: #20202a;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.bottomLeft .leftItem{
    width: 1.44rem;
    height: 0.59rem;
    border: 0.03rem solid  #e048f1;
    border-radius: 0.36rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #e048f1;

}

.bottomRight{
    background: #f6f6f6;
    width: 5.7rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 0.21rem;
    margin: 0 auto;
}

.rightItem{
    width: 5.16rem;
    height: 1.61rem;
    background-color: #ffffff;
    box-shadow: 0  0.03rem  0.15rem  0 rgba(220, 220, 220, 0.75);
    border-radius: 0.21rem;
}

.rightItem img{
    width: 1.08rem;
    height: 1.12rem;
    margin-left: 0.11rem;
    margin-top: 0.24rem;
    margin-right: 0.29rem;
    /*background: #16b0dc;*/
    float: left;

}

.rightItem .font{
    width: 3.6rem;
    /*background: #1900dc;*/
    float:left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}

.rightItem .font .pingjia{

    font-size: 0.1rem;
    font-family: iconfont;
    color: #fcff00;
}

.rightItem .font h3{
    font-size: 0.3rem;
}

.rightItem .font .peisong{
    font-size: 0.2rem;
    color:rgba(0,0,0,0.61);
}


.font i.shao{
    font-size: 0.45rem;
    float: right;
    font-family: iconfont;
    color: #ed61fe;
    position: absolute;
    top:0.61rem;
    right: 1rem;
}

.font .size{
    position: absolute;
    top:0.68rem;
    right: 0.8rem;
}

.font i.add{
    font-size: 0.4rem;
    float: right;
    font-family: iconfont;
    color: #ed61fe;
    position: absolute;
    top:0.61rem;
    right: 0.3rem;
}

.goods {
    width: 7.5rem;
    height: 2.26rem;
    background-color: #fffefc;
    border: solid 0.03rem #fffefc;
    position: absolute;
    top: 11.35rem;
    left: 0;
    /*left: 10rem;*/
    /*margin: 0 auto;*/
}

.goods .font{
    width: 7.02rem;
    height: 0.6rem;
    font-size: 0.24rem;
    color: rgba(1,1,1,0.6);
    float: left;
    padding-top: 0.2rem;
    border-bottom: 0.005rem solid rgba(0,0,0,0.1);
    margin: 0.1rem 0.25rem;
    /*margin-left: 0.27rem;*/
    margin-bottom: 0.2rem;
}

.foods{
    width: 7.02rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.1rem;
    font-weight: normal;
}

.foods b{
    font-weight: normal;
    color: rgba(0,0,0,0.8);
}

#tab{
    width: 7.5rem;
    height: 0.98rem;
    background: #fff;
    margin: 0 auto;
    margin-top: 0.2rem;
    box-shadow: 0 0.08rem 0.22rem 0.05rem rgba(190, 190, 190, 0.66);
    position: fixed;
    bottom: 0;
}

.tabContent{
    width: 7.02rem;
    height: 0.98rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.1rem 0;

}

.car{
    width: 0.7rem;
    height: 0.7rem;
    background-image: linear-gradient(0deg, #e14bf0 0%, #fca1d7 100%);
    border-radius: 50%;
    text-align: center;
    line-height: 0.7rem;
}

.car i{
    font-family: iconfont;
    font-size: 0.5rem;
    color: #fff;
}
.di{
    width: 3.6rem;
    height: 0.6rem;
    /*background: #ff6700;*/
    margin-top: 0.11rem;
    margin-right: 1rem;
}
.di b{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.8);
}

.di p{
    font-size: 0.18rem;
    color: rgba(0,0,0,0.6);
}

.diancan{
    width: 1.56rem;
    height: 0.58rem;
    background-image: linear-gradient(90deg, #e048f1 0%, #fea7d6 100%);
    border-radius: 0.36rem;
    float: right;
    text-align: center;
    line-height: 0.58rem;
    color: #fff;
    font-size: 0.24rem;
    margin: auto 0;
}










