*{
    font-weight: bold;
}
#header {
    width: 100%;
    height: 0.87rem;
    background-image: linear-gradient(-90deg, #ec4cff 0%, #ffa8d5 100%);
    text-align: center;
    line-height: 0.87rem;
    color: #ffffff;
    font-size: 0.36rem;
}

.meishi , .history {
    width: 2.07rem;
    height: 0.61rem;
    background-image: linear-gradient(90deg, #ffa5d7 0%, #e149f2 100%);
    margin: 0.36rem auto;
    font-size: 0.32rem;
    color: #ffffff;
    border-radius: 1rem;
    text-align: center;
    line-height: 0.61rem;
}

.cardAll {
    width: 7.02rem;
    height: 1.38rem;
    margin: 0.47rem auto;
}

.card {
    width: 3.38rem;
    height: 1.38rem;
    background-color: #ffffff;
    box-shadow: 0 0.03rem 0.16rem 0 rgba(185, 185, 185, 0.62);
    border-radius: 0.1rem;
    float: left;
    margin-left: 0.24rem;
    padding: 0.15rem;
}

.card img{
    width: 1.09rem;
    height: 1.09rem;
    background: #ff8271;
    border-radius: 50%;
    float: left;
}

.card .font{
    width: 1.33rem;
    font-size: 0.3rem;
    color: rgba(0,0,0,0.8);
    /*background: #ff6700;*/
   float: left;
    margin-left: 0.3rem;
    margin-top: 0.15rem;
}

.font span{
    font-size: 0.26rem;
    color: rgba(0,0,0,0.6);
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.1rem;
}


.one {
    width: 7rem;
    background-color: #ffffff;
    box-shadow: 0 0.03rem 0.16rem 0 rgba(185, 185, 185, 0.62);
    border-radius: 0.1rem;
    margin: 0.46rem auto;
    padding: 0.19rem;
    position: relative;
}

.one img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #16b0dc;
    float: left;
}

.one .size{
    font-size: 0.3rem;
    color: rgba(0,0,0,0.85);
    margin-left: 1.5rem;
    display: flex;justify-content: space-around;
    flex-direction: column;
}

.size span{
    font-size: 0.26rem;
    color: rgba(0,0,0,0.8);
    font-weight: normal;
}

.size i{
    font-family: iconfont;
    font-size: 0.1rem;
    color:rgba(224,72,241,0.42)
}

.right{
    width: 1.04rem;
    height: 0.41rem;
    background-image: linear-gradient(0deg, #60a5ff 0%, #4bc4fb 100%);
    box-shadow: 0 0.03rem 0.15rem 0 rgba(93, 170, 254, 0.66);
    font-size: 0.22rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.41rem;
    float: right;
    border-radius: 0.16rem;
    position: absolute;
    top: 0.9rem;
    right: 0.2rem;
}

#tab{
    width: 100%;
    height: 0.98rem;
    background: #fff;
    margin: 0 auto;
    margin-top: 0.2rem;
    box-shadow: 0 0.08rem 0.22rem 0.05rem rgba(190, 190, 190, 0.66);
    position: fixed;
    bottom: 0;
}

.tabContent{
    width: 7.02rem;
    height: 0.98rem;
    display: flex;
    justify-content: space-between;
    /*background: #ff6700;*/
    margin: 0 auto;
    padding: 0.1rem 0;

}
.tabContent li{
    height: 0.78rem;
    width: 0.49rem;
    /*background: #16b0dc;*/
    text-align: center;

}

.tabContent li i{
    color: #ccc;
    font-family: iconfont;
    font-size: 0.5rem;

}

.tabContent li i.active{
    color: #ed61fe;
}

.tabContent li p{
    font-size: 0.18rem;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}
