.all {
    height: 6.67rem;
    width: 7.5rem;
    margin: 0 auto;
    position: relative;
}

.container {
    width: 7.02rem;
    height: 100%;
    min-height: 1px;
    margin: 0 auto;
}

#header {
    width: 100%;
    background: #fff;
}

.topBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*background: #ffa100;*/
}

.topLeft {
    width: 0.52rem;
    height: 0.52rem;
    /*background: #16b0dc;*/
    margin: 0.1rem 0;
    text-align: left;
    line-height: 0.52rem;
}

.topBar i.back {
    font-size: 0.3rem;
    font-family: iconfont;
    color: rgba(0, 0, 0, 0.7);
}

img{
    width: 4.44rem;
    height: 4.52rem;
    margin: 0.2rem auto;
    /*position: relative;*/
}

.dui{
    font-family: iconfont;
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 2.5rem;
    left: 3.5rem;
}

.dianAll {
    width: 0.54rem;
    height: 0.08rem;
    float: left;
    position: absolute;
    top: 0.78rem;
    left: 0.3rem;
}

.dianAll2 {
    width: 0.54rem;
    height: 0.08rem;
    /*float: right;*/
    position: absolute;
    top: 0.78rem;
    right: 0.4rem;

}

.dian {
    width: 0.08rem;
    height: 0.08rem;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50%;
    float: left;
    margin-left: 0.1rem;

}

.font{
    width: 4.3rem;
    height: 1.65rem;
    /*background: #ff6700;*/
    margin: 0.3rem auto;
    text-align: center;
    position: relative;
}
.font b{
    width: 1.47rem;
    height: 0.45rem;
    font-size: 0.48rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    color:rgba(0,0,0,0.85);
    margin: 0 auto;
}

.font p {
    font-size: 0.24rem;
    letter-spacing: 0.02rem;
    color: rgba(0,0,0,0.5);
    text-align: center;
}

.bottom .back , .continue {
    width: 3.17rem;
    height: 1.05rem;
    background-image: linear-gradient(-90deg, #e048f2 0%, #ffa8d5 100%);
    box-shadow: 0 0.03rem 0.2rem 0 rgba(227, 83, 239, 0.55);
    border-radius: 0.6rem;
    margin: 0 auto;
    text-align: center;
    font-size: 0.36rem;
    color: #fefefe;
    margin-top: 0.5rem;
    line-height: 1.05rem;
    margin-bottom: 1.25rem;
}


